*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 625%;
}
body{
    font-size: .16rem;
    font-family: "Helevtica Neue", Helvetica, Arial, sans-serif;
}
button{
    border: none;
    background-color: #fff;
}
button:focus{
    outline: none;
}
button:active{
    box-shadow: 0 .05rem .15rem rgba(0, 0, 0, .3) inset;
}
.clearFix:after{
    content: '';
    display: block;
    clear: both;
}
.wrapper{
    position: relative;
}
/*————header————*/
.header{
    position: relative;
    height: .72rem;
    margin-top: .43rem;
}
.jnshu{
    position: absolute;
    right: 50%;
    box-sizing: content-box;
    padding-right: .7rem;
    border-right: 2px solid #333;
    width: 3.8rem;
    height: .72rem;
    background: url("../imgs/it-logo.png") no-repeat;
    background-size: 3.8rem;
}
.yijiaolian{
    position: absolute;
    left: calc(50% + .7rem);
    width: 2.41rem;
    height: .72rem;
    background: url("../imgs/e-logo.png") no-repeat;
    background-size: 2.41rem;
}
/*————main————*/
.main{
    width: 12rem;
    margin: .94rem auto .86rem;
}
.main .summary{
    position: relative;
    width: 100%;
}
.main .pic{
    float: left;
    width: 4.55rem;
    height: 6rem;
    background: url("../imgs/main-pic.jpg") no-repeat;
    background-size: 100% 100%;
}
.main .content{
    position: relative;
    width: calc(100% - 4.55rem);
    height: 6rem;
    float: left;
    padding-left: .87rem;
}
.items{
    list-style: none;
}
.items .item:nth-child(odd){
    margin-bottom: .16rem;
    padding-bottom: .04rem;
    border-bottom: 1px solid #e5e5e5;
    color: #25272e;
    font-size: .4rem;
}
.items .item:nth-child(even){
    margin-bottom: .54rem;
    padding-right: .8rem;
    color: #25272e;
    font-size: .2rem;
}
.items .item:last-child{
    margin-bottom: .32rem;
}
.items .point{
    margin-bottom: .1rem;
    text-indent: .1rem;
    line-height: .38rem;
    border-left: .06rem solid #25272e;
}
.item .item-text{
    margin-bottom: 0;
    line-height: .3rem;
}
#more{
    position: absolute;
    bottom: 0;
    width: 2.38rem;
    height: .7rem;
    font-size: .24rem;
    color: #25272e;
    background-color: #fff;
    border: 1px solid #25272e;
    border-radius: .08rem;
}
#more:hover{
    border: none;
    background-color: #29b078;
    color: #ffffff;
}
.reason{
    position: relative;
    margin-top: .85rem;
}
.line{
    position: absolute;
    top: .33rem;
    width: 100%;
    border: 1px solid #e1e1e1;
}
.reason-title{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0 .2rem;
    font-size: .5rem;
    font-weight: bold;
    color: #25272e;
    background-color: #fff;
}
.reason-subtitle{
    margin-top: .2rem;
    margin-bottom: .6rem;
    text-align: center;
    font-size: .24rem;
    color: #7f8082;
}
.msg{
    position: relative;
    float: left;
    margin-right: calc((100% - 10.5rem) / 2 - .1px);
    width: 3.5rem;
    height: 2.15rem;
    font-size: .2rem;
    background: url("../imgs/text-bg.png") no-repeat;
    background-size: 100% 100%;
}

.msg p{
    padding: 0 .65rem;
    margin-top: 32%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    word-break: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.messages .msg:hover P{
    transform:scale(1.1,1.1) translateY(-50%);
}
.msg:nth-child(2) p{
    /*text-align: center;*/
    padding: 0 .84rem;
}
.msg:last-child{
    margin-right: 0;
}
/*footer*/
.footer{
    width: 100%;
    background: url("../imgs/footer-bg.jpg") no-repeat center;
    background-size: auto 100%;
}
.contain{
    position: relative;
    width: 12rem;
    height: 100%;
    margin: auto;
}
.slogan{
    float: left;
    height: 100%;
    font-size: .3rem;
    line-height: .76rem;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slogan p{
    margin: 0;
    -webkit-transform: translateY(1.2rem) translateY(-50%);
    -moz-transform: translateY(1.2rem) translateY(-50%);
    -ms-transform: translateY(1.2rem) translateY(-50%);
    -o-transform: translateY(1.2rem) translateY(-50%);
    transform: translateY(1.2rem) translateY(-50%);
}
#obtain{
    float: right;
    margin-top: 1.2rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 4rem;
    height: 1.2rem;
    border: none;
    border-radius: .15rem;
    background-color: #59c699;
    font-size: .4rem;
    color: #ffffff;
}
#obtain:hover{
    background-color: #29b078;
}
/*————遮罩层&弹窗————*/
.shade{
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.shade-background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,.7);
}
.register{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: .38rem .72rem .35rem;
    width: 4.5rem;
    height: 4.9rem;
    font-size: .2rem;
    color: #25272e;
    background-color: #fff;
}
#close{
    position:absolute;
    top: 0;
    right: 0;
    width: .6rem;
    height: .6rem;
    border: none;
    font-size: .4rem;
    line-height: .4rem;
}
.get-code{
    position: relative;
    top: -.05rem;
    width: 1.4rem;
    height: .45rem;
    text-align: center;
    background-color: #29b078;
    border: none;
    border-radius: .1rem;
    color: #ffffff;
    cursor: pointer;
}
.get-code:hover{
    background-color: #59c699;
}
.reg{
    margin-top: .2rem;
    width: 100%;
    height: .6rem;
    background-color: #29b078;
    border-radius: .15rem;
    color: #ffffff;
}
.reg:hover{
    background-color: #59c699;
}
.reg[disabled]{
    background-color: #999;
}
.reg-text{
    margin-top: .08rem;
    margin-bottom: .2rem;
    width: 100%;
    height: .28rem;
    border: none;
    border-bottom: 1px solid #e3e3e3;
}
.sms-code + .reg-text{
    margin-right: .13rem;
    width: calc(100% - 1.53rem);
}
.invitation-code + .reg-text{
    color: #999;
    background-color: #fff;
}
.reg-text:focus{
    border-color: #29b078;
    outline: none;
}
#errorTip{
    /*display: none;*/
    height: .28rem;
    margin: -.12rem auto -.16rem;
    text-align: center;
    color: #c00;
}

@media all and (max-width: 991px){
    .main{
        width: 80%;
    }
    .items .item:nth-child(even){
        margin-bottom: .5rem;
        padding-right: .6rem;
    }
    .main .pic{
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background-image: url("../imgs/main-pic2.jpg");
    }
    .main .content{
        margin-top: 30px;
        padding-left: 0;
        width: 100%;
        height: auto;
    }
    .main #more{
        position: relative;
        left: calc(50% - 80px);
    }
    .reason .reason-title{
        min-width: 340px;
    }
    .messages{
        margin-bottom: -.5rem;
    }
    .messages .msg{
        margin-right: 0;
        margin-left: calc(50% - 120px);
        margin-bottom: .5rem;
    }
    .footer{
        height: 240px;
        background-size: cover;
    }
    .footer .contain{
        width: 100%;
    }
    .footer .slogan{
        float: none;
        margin: auto;
        height: auto;
    }
    .slogan p{
        margin: 0;
        text-align: center;
        line-height: .9rem;
    }
    .contain #obtain{
        margin: 25px auto 0;
        float: none;
        transform: none;
        margin-left: calc(50% - 148px);
    }
}
@media all and (max-width: 767px){
    .header{
        height: auto;
    }

    .header .jnshu{
        position: static;
        border: none;
        padding: 0;
        margin: 0 auto 30px;
        width: 70%;
        max-width: 400px;
        height: 0;
        padding-bottom: 15%;
        background-size: 100%;
    }
    .header .yijiaolian{
        position: static;
        margin: auto;
        width: 50%;
        max-width: 260px;
        height: 0;
        padding-bottom: 15%;
        background-size:100%;
    }
    .main{
        margin-top: 40px;
    }
    .items .item:nth-child(even){
        margin-bottom: .5rem;
        padding-right: 0;
    }
    .reason .reason-title{
        position: relative;
        margin-left: calc(50% - 170px);
        transform: none;
    }
}
@media all and (max-width: 424px){
    .items .point{
        font-size: 24px;
    }
    .reason .reason-title{
        position: relative;
        margin-left: calc(50% - 150px);
        transform: none;
        font-size: 30px;
        min-width: 300px;
    }
    .footer .slogan{
        font-size: 16px;
    }
    .footer #obtain{
        width: 200px;
        height: 70px;
        margin-left: calc(50% - 100px);
    }
}